extends ../node_modules/jade-bootstrap/_bootstrap

append styles 
	link(rel="stylesheet", href="/stylesheets/style.css")

block body
	//Navigation
	+navbar("The Colenso project", "dropdown_menu")
		+nav_item("/","active") Home
		+nav_item("/Browse") Browse
		+nav_item("/Search") Search using plain text
		+nav_item("/XquerySearch") Search using Xquery
	//Page content
	.container
		h1= title
		.container
		p| The purpose of this website is to give the public and historians alike access to the Colenso database. 
		p| The Colenso Society, Victoria University of Wellington and MTG Hawke's Bay are delighted to announce the establishment of the Colenso Project. This exciting new initiative seeks to build on the blossoming national and international interest in William Colenso’s life and ideas as the result of the William Colenso Bicentenary Celebrations in Hawke’s Bay in 2011, and a body of new publications and research.
		p| The intent of the Project is to ignite public and academic interest in Colenso’s words – published, unpublished, private letters, journals - both in Maori and English, by sharing them with the world in digital form. We envisage a hub for all things Colenso: a place to read documents in the original, explore his writing through transcriptions, and as a place to experiment with new research and interpretation methods.
		p| For more information on the Colenso Project, visit #[a(href='http://www.williamcolenso.co.nz') www.williamcolenso.co.nz].