extends ../node_modules/jade-bootstrap/_bootstrap

doctype html
html
	head
		append styles
			link(rel='stylesheet',href='/stylesheets/style.css')

	block body
		//Navigation
		+navbar("The Colenso project", "dropdown_menu")
			+nav_item("/") Home
			+nav_item("/Browse","active") Browse
			+nav_item("/Search") Search using plain text
			+nav_item("/XquerySearch") Search using Xquery
		//Page content
		.container
			h1= title
			.search
				- var full_url="window.open('" + "/Download/Colenso/" + title + "')"
				a(href="/Download/Colenso/" + title,download) Download XML
				button(type="submit", onclick=full_url) View full XML
		.container
			!{xml}