extends ../node_modules/jade-bootstrap/_bootstrap

head
	link(href='/public/stylesheets/viewXML.css', rel='stylesheet')

block body
	//Navigation
	+navbar("The Colenso project", "dropdown_menu")
		+nav_item("/") Home
		+nav_item("/Browse","active") Browse
		+nav_item("/Search") Search
		+nav_item("/XquerySearch") Advanced search
	//Search bar
	form.form-group(action="/search", method="get")
		input.input-block-level(type="text", name="mysearch", placeholder="Query")
		button.btn.btn-large(type="submit") Submit
	//Page content
	.container
		h1= title
		.container
		p| Welcome to #{title}.
	.container
		#{xml}